{#
 # Passed in variables:
 #
 #}
{% extends twigparent %}

{% block members %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <div class="row">
        <h4>Edit Profile</h4>
    </div>

    <div class="row profile">

        <div class="small-12 columns">

            {{ form_start(profile_form) }}
                {{ form_row(profile_form.displayname) }}
                {{ form_row(profile_form.email) }}
                {{ form_row(profile_form.plainPassword.first) }}
                {{ form_row(profile_form.plainPassword.second) }}
                <br>
                {{ form_row(profile_form.submit) }}
            {{ form_end(profile_form) }}

        </div>

        <div class="small-12 columns">
            <h5>Registered Social Media Accounts</h5>

            <ul>
                {%- for provider in member_providers() %}
                    <li><i class="fa fa-{{ provider }}">  {{ provider|title }}</i></li>
                {% endfor -%}
            </ul>
        </div>

        <div class="small-12 columns">
            <h5>Add Social Media Account</h5>

            {{ members_auth_associate() }}
        </div>

    </div>

    {% include 'feedback.twig' %}
{% endblock %}
