{#
 # Passed in variables:
 #
 #}
{% extends twigparent %}

{% block members %}
    <div class="row">
        <h4>New Member</h4>
    </div>

    <div class="row register">

        <div class="small-12 columns">

            {{ form_start(form_register) }}

            {{ form_errors(form_register) }}

            {{ form_row(form_register.displayname) }}
            {{ form_row(form_register.email) }}

            {% if transitional %}
                {% do form_register.plainPassword.setRendered %}
            {% else %}
                {{ form_row(form_register.plainPassword.first) }}
                {{ form_row(form_register.plainPassword.second) }}
            {% endif %}

                <br>
            {{ form_row(form_register.submit) }}

            {{ form_end(form_register) }}

        </div>

    </div>

    {% include 'feedback.twig' %}
{% endblock %}
