{#
 # Passed in variables:
 #
 #}
{% extends twigparent %}

{% block members %}
    <div class="row">
        <h4>New Member</h4>
    </div>

    <div class="row register">

        <div class="small-12 columns">

            {{ form_start(profile_form) }}
                {{ form_row(profile_form.displayname) }}
            {{ form_row(profile_form.email) }}
            {{ form_row(profile_form.plainPassword.first) }}
            {{ form_row(profile_form.plainPassword.second) }}
                <br>
                {{ form_row(profile_form.submit) }}
            {{ form_end(profile_form) }}

        </div>

    </div>

    {% include 'feedback.twig' %}
{% endblock %}
