{#
 # Passed in variables:
 #
 #   * twigparent           — string    Template name to inherit from
 #   * form_profile_edit         — FormView  Auth profile form (Symfony\Component\Form\FormView)
 #   * form_associate       — FormView  Authentiction provider form (Symfony\Component\Form\FormView)
 #   * feedback             — Feedback  Informational, error, and debug feedback messages. @see feedback/feedback.twig
 #   * templates            — array
 #     * feedback           — string    Feedback messages template name
 #   * providers            — array     Authentication providers enabled in Auth configuration
 #}
{% extends twigparent %}

{% block auth %}
    <h4>{{ __('Edit Profile') }}</h4>

    {{ include(templates.feedback) }}


    <div class="profile profile-edit">

        {{ form_start(form_profile_edit) }}
            {{ form_errors(form_profile_edit) }}
            {% for name, row in form_profile_edit if name not in ['submit', 'password'] %}
                <div class="auth_{{ row.vars.name }}">{{ form_row(row) }}</div>
            {% endfor %}
            {{ form_row(form_profile_edit.password) }}
            {{ form_row(form_profile_edit.submit, {'attr': {'class': 'button btn btn-default'}}) }}
        {{ form_end(form_profile_edit) }}

    </div>

    <div class="profile profile-registered-social">
        <h5>{{ __('Registered Social Media Accounts') }}</h5>

        <ul>
            {%- for provider in auth_providers() %}
                <li><i class="fa fa-{{ provider }}">  {{ provider|title }}</i></li>
            {% endfor -%}
        </ul>
    </div>

    <di class="profile profile-add-social">
        {% for provider in providers|keys %}
            {% if provider != 'local' and provider not in auth_providers() %}
                {% if loop.first %}<h5>{{ __('Add Social Media Account') }}</h5>{% endif %}
                {{ form_start(form_associate) }}
                    {{ form_row(form_associate[provider]) }}
                {{ form_end(form_associate) }}
            {% endif %}
        {% endfor %}

        {{ form_end(form_associate) }}
    </div>

{% endblock %}
