{#
 # Passed in variables:
 #
 #}
{% extends twigparent %}

{% block members %}
    <div class="row">
        <h4>Member Profile — {{ member.displayname }}</h4>
    </div>

    {{ include(templates.feedback) }}

    <div class="row profile">

        <div class="small-3 columns">
            <img alt="{{ member.displayname }}" src="{{ member.avatar }}">
        </div>

        <div class="small-9 columns">
            {{ form_start(form_profile) }}

            {{ form_row(form_profile.displayname) }}
            {{ form_row(form_profile.email) }}

            {% do form_profile.password.setRendered %}
            {% do form_profile.submit.setRendered %}


            {{ form_end(form_profile) }}
        </div>

    </div>
{% endblock %}
