{#
 # Passed in variables:
 #
 #   * twigparent           — string    Template name to inherit from
 #   * form_profile         — FormView  Auth profile form (Symfony\Component\Form\FormView)
 #   * auth               — array     Auth data:
 #     * guid               — string    GUID (unique ID)
 #     * email              — string    Email address
 #     * displayname        — string    Public display name
 #     * enabled            — boolean   True if auth account is enabled
 #     * verified           — boolean   True if auth account is verified
 #     * roles              — array     Roles assigned to auth
 #   * feedback             — Feedback  Informational, error, and debug feedback messages. @see feedback/feedback.twig
 #   * templates            — array
 #     * feedback           — string    Feedback messages template name
 #   * providers            — array     Authentication providers enabled in Auth configuration
 #}
{% extends twigparent %}

{% block auth %}

    <div class="row">
        <h4>{{ __('Auth Profile') }} — {{ auth.displayname }}</h4>
    </div>

    {{ include(templates.feedback) }}

    <div class="row profile">

        <div class="small-3 columns">
            <img alt="{{ auth.displayname }}" src="{{ auth.avatar }}">
        </div>

        <div class="small-9 columns">
            {{ form_start(form_profile_view) }}

            {{ form_row(form_profile_view.displayname) }}
            {{ form_row(form_profile_view.email) }}

            {% do form_profile_view.password.setRendered %}
            {% do form_profile_view.submit.setRendered %}


            {{ form_end(form_profile_view) }}
        </div>

    </div>
{% endblock %}
