{#
 # Passed in variables:
 #
 #   * twigparent           — string    Template name to inherit from
 #   * form_profile         — FormView  Member profile form (Symfony\Component\Form\FormView)
 #   * member               — array     Member data:
 #     * guid               — string    GUID (unique ID)
 #     * email              — string    Email address
 #     * displayname        — string    Public display name
 #     * enabled            — boolean   True if member account is enabled
 #     * verified           — boolean   True if member account is verified
 #     * roles              — array     Roles assigned to member
 #   * feedback             — Feedback  Informational, error, and debug feedback messages. @see feedback/feedback.twig
 #   * templates            — array
 #     * feedback           — string    Feedback messages template name
 #   * providers            — array     Authentication providers enabled in Members configuration
 #}
{% extends twigparent %}

{% block members %}

    <div class="row">
        <h4>Member Profile — {{ member.displayname }}</h4>
    </div>

    {{ include(templates.feedback) }}

    <div class="row profile">

        <div class="small-3 columns">
            <img alt="{{ member.displayname }}" src="{{ member.avatar }}">
        </div>

        <div class="small-9 columns">
            {{ form_start(form_profile) }}

            {{ form_row(form_profile.displayname) }}
            {{ form_row(form_profile.email) }}

            {% do form_profile.password.setRendered %}
            {% do form_profile.submit.setRendered %}


            {{ form_end(form_profile) }}
        </div>

    </div>
{% endblock %}
