{# Page: NavSecondary > Extensions > Members #}

{% extends "_base/_page-nav.twig" %}

{% block page_nav 'Extensions' %}

{% block page_title %}
    {{ __('Members') }}
{% endblock page_title %}

{% block page_subtitle %}
    Manage Site Membership Roles
{% endblock page_subtitle %}

{# clear default messages, because we use them in a different spot, in this template #}
{% block messages "" %}

{% macro column_toggle_ref(column) %}
    {% if app.request.query.all.orderby is defined and app.request.query.all.orderby == column %}
        {% if app.request.query.all.order is defined and app.request.query.all.order == 'desc' %}
            {% set order = 'asc' %}
        {% else %}
            {% set order = 'desc' %}
        {% endif %}
        {{ path(app.request.attributes.get('_route'), app.request.query.all|merge({ orderby: column, order: order })) }}
    {% else %}
        {{ path(app.request.attributes.get('_route'), app.request.query.all|merge({ orderby: column, order: 'desc' })) }}
    {% endif %}
{% endmacro %}

{% block page_main %}

    <div class="row members-bolt-container">
        <div class="col-md-9">

            {% include '_sub/_messages.twig' %}

            <section class="members-container">
                <h3>{{ __('Members') }}</h3>
                <div class="members-list">

                    <table class="dashboardlisting table" id="members-table">
                        <colgroup>
                            <col class="members-column-check">
                            <col class="members-column-displayname">
                            <col class="members-column-enabled">
                            <col class="members-column-email">
                            <col class="members-column-roles">
                            <col class="members-column-lastseen">
                            <col class="members-column-guid">
                        </colgroup>
                        <thead>
                        <tr>
                            <th></th>
                            <th><a href="{{ _self.column_toggle_ref('displayname') }}">{{ __('Display Name') }}</a></th>
                            <th></th>
                            <th><a href="{{ _self.column_toggle_ref('email') }}">{{ __('Email') }}</a></th>
                            <th>{{ __('Roles') }}</th>
                            <th>{{ __('Last Seen') }}</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody class="members-list-items">
                        {% for member in members %}
                            {% if member.enabled %}{% set enabled = 'fa fa-check' %}{% else %}{% set enabled = 'fa fa-close' %}{% endif %}
                            <tr id="members-member[{{ member.guid }}]">
                                <td class="member-cb">
                                    <label>
                                        <input type="checkbox"
                                               id="form_members_{{ loop.index0 }}"
                                               name="form[members][]"
                                               value="{{ member.guid }}">
                                    </label>
                                </td>
                                <td class="members-displayname"><a href="members/edit/{{ member.guid }}">{{ member.displayname }}</a></td>
                                <td class="member-enabled"><i class="{{ enabled }}"></i></td>
                                <td class="members-email">{{ member.email }}</td>
                                <td class="members-roles">
                                    {% for role in member.roles|default(['-']) %}
                                        {{ role }}<br>
                                    {% endfor %}
                                </td>
                                <td class="members-lastseen">{{ member.lastseen }}</td>
                                <td class="member-guid">
                                    {% spaceless %}
                                        <span class="info-pop pull-right" style="background-color: inherit !important;"
                                              data-content="{{ member.guid }}"
                                              data-html="false" >
                                              <i class="fa fa-user-md"></i>
                                        </span>
                                    {% endspaceless %}
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </section>
            <hr />

            {% include '@bolt/components/pager.twig' with { 'context': pager } only %}
        </div>

        {{ include('@MembersAdmin/_aside.twig') }}

    </div>

    <script>
        var baseurl = "{{ paths.bolt }}extend/members/action";

        var active_console;
        var active_interval;

        jQuery(document).ready(function($) {
            var boltExt = new MembersAdmin();
            boltExt.setMessage('useradd', '{{__('Adding user...')}}' );
            boltExt.setMessage('userdel', '{{__('Removing user(s)...')}}');
            boltExt.setMessage('userenable', '{{__('Enabling user(s)...')}}' );
            boltExt.setMessage('userdisable', '{{__('Disabling user(s)...')}}');
            boltExt.setMessage('roleadd', '{{__('Adding role...')}}');
            boltExt.setMessage('roledel', '{{__('Removing role...')}}');
        });
    </script>

{% endblock page_main %}
