{# Page: NavSecondary > Extensions > Members #}

{% extends "_base/_page-nav.twig" %}

{% block page_nav 'Extensions' %}

{% block page_title %}
    {{ __('Members') }}
{% endblock page_title %}

{% block page_subtitle %}
    Editing Membership Profile: {{ profile_form.vars.value.displayname|default('New User') }}
{% endblock page_subtitle %}

{# clear default messages, because we use them in a different spot, in this template #}
{% block messages "" %}

{% block page_main %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <div class="row">
        <h4>Edit Profile</h4>
    </div>

    <div class="row profile">

        <div class="col-md-9">
            {% block profile %}
                {{ form_start(profile_form, {'attr': {'id': 'profile'}, 'action': null}) }}

                {{ form_label(profile_form.displayname, null, {'label_attr': {'class': 'main col-xs-12'}}) }}
                {{ form_errors(profile_form.displayname) }}
                {{ form_widget(profile_form.displayname, { 'attr': {'class': 'form-control large'} }) }}

                {{ form_label(profile_form.email, null, {'label_attr': {'class': 'main col-xs-12'}}) }}
                {{ form_errors(profile_form.displayname) }}
                {{ form_widget(profile_form.email, { 'attr': {'class': 'form-control large'} }) }}

                {{ form_label(profile_form.plainPassword.first, null, {'label_attr': {'class': 'main col-xs-12'}}) }}
                {{ form_errors(profile_form.plainPassword.first) }}
                {{ form_widget(profile_form.plainPassword.first, { 'attr': {'class': 'form-control large'} }) }}

                {{ form_label(profile_form.plainPassword.second, null, {'label_attr': {'class': 'main col-xs-12'}}) }}
                {{ form_errors(profile_form.plainPassword.first) }}
                {{ form_widget(profile_form.plainPassword.second, { 'attr': {'class': 'form-control large'} }) }}

                {% include '@MembersAdmin/profile_edit_meta.twig' ignore missing %}

                <br>
            <div class="hidden">
                {{ form_row(profile_form.submit) }}
            </div>
                {{ form_end(profile_form) }}
            {% endblock profile %}
        </div>

        <aside class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-cog fa-fw"></i> Actions
                </div>

                <div class="panel-body">
                    {% include '@MembersAdmin/_aside-save.twig' %}
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading"><i class="fa fa-cog fa-fw"></i>Linked Social Media Accounts</div>

                <div class="panel-body">
                    <ul>
                        {%- for provider in member_providers() %}
                            <li><i class="fa fa-{{ provider }}">  {{ provider|title }}</i></li>
                        {% endfor -%}
                    </ul>
                </div>
            </div>
        </aside>

    </div>
{% endblock page_main %}
