{# Page: NavSecondary > Extensions > Auth #}

{% extends "@bolt/_base/_page-nav.twig" %}

{% block page_nav 'Extensions' %}

{% block page_title %}
    {{ __('Auth') }}
{% endblock page_title %}

{% block page_subtitle %}
    {{ __('Editing Auth Profile') }}: {{ form_profile_edit.vars.value.displayname|default(__('New User')) }}
{% endblock page_subtitle %}

{# clear default messages, because we use them in a different spot, in this template #}
{% block messages "" %}

{% block page_main %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <div class="row">
        <div class="col-xs-12">
            <h4>Edit New Profile</h4>
        </div>
    </div>

    <div class="row profile">

        <div class="col-md-9">
            {% block profile %}
                {{ form_start(form_profile_edit, {'attr': {'id': 'profile', 'class': 'form-horizontal'}, 'action': path('authAdminUserAdd') }) }}
                <div class="form-group">
                    {{ form_label(form_profile_edit.displayname, null, {'label_attr': {'class': 'main col-sm-2 control-label'}}) }}
                    {{ form_errors(form_profile_edit.displayname) }}
                    {{ form_widget(form_profile_edit.displayname, { 'attr': {'class': 'form-control large col-sm-10 col-md-6 col-lg-4'} }) }}
                </div>
                <div class="form-group">
                    {{ form_label(form_profile_edit.email, null, {'label_attr': {'class': 'main col-sm-2 control-label'}}) }}
                    {{ form_errors(form_profile_edit.email) }}
                    {{ form_widget(form_profile_edit.email, { 'attr': {'class': 'form-control large col-sm-10 col-md-6 col-lg-4'} }) }}
                </div>
                <div class="form-group">
                    {{ form_label(form_profile_edit.password.first, null, {'label_attr': {'class': 'main col-sm-2 control-label'}}) }}
                    {{ form_errors(form_profile_edit.password.first) }}
                    {{ form_widget(form_profile_edit.password.first, { 'attr': {'class': 'form-control large col-sm-10 col-md-6 col-lg-4', 'autocomplete': 'new-password'} }) }}
                </div>
                <div class="form-group">
                    {{ form_label(form_profile_edit.password.second, null, {'label_attr': {'class': 'main col-sm-2 control-label'}}) }}
                    {{ form_errors(form_profile_edit.password.second) }}
                    {{ form_widget(form_profile_edit.password.second, { 'attr': {'class': 'form-control large col-sm-10 col-md-6 col-lg-4', 'autocomplete': 'new-password'} }) }}
                </div>

                {% include '@AuthAdmin/profile_edit_meta.twig' ignore missing %}

                <br>
                <div class="hidden">
                    {{ form_row(form_profile_edit.submit) }}
                </div>
                {{ form_end(form_profile_edit) }}
            {% endblock profile %}
        </div>

        <aside class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-cog fa-fw"></i> {{ __('Actions') }}
                </div>

                <div class="panel-body">
                    {% include '@AuthAdmin/_aside-save.twig' %}
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading"><i class="fa fa-cog fa-fw"></i> {{ __('Linked Social Media Accounts') }}</div>

                <div class="panel-body">
                    <ul>
                        {%- for provider in auth_providers() %}
                            <li><i class="fa fa-{{ provider }}">  {{ provider|title }}</i></li>
                        {% endfor -%}
                    </ul>
                </div>
            </div>
        </aside>

    </div>
{% endblock page_main %}
