{% extends twigparent %}

{% block login %}
    {% include "feedback.twig" %}

    <div class="login">
        <div class="row member-login">
            {{ form_start(password_form) }}

            <div class="small-6 columns members-login-providers">
                {% for provider in providers|keys %}
                    {% if provider != 'local' %}
                        {{ form_row(password_form[provider]) }}
                    {% endif %}
                {% endfor %}
            </div>

            {{ form_end(password_form) }}
        </div>
    </div>
{% endblock login %}

{% macro password_login(password_form) %}
    <div class="small-6 columns members-login-password">
        {{ form_row(password_form.email) }}
        {{ form_row(password_form.password) }}
        <br>
        {{ form_row(password_form.submit) }}
    </div>
{% endmacro %}

