{% extends twigparent %}

{% block login %}
    {% include "feedback.twig" %}

    <div class="login">
        <div class="row member-login">

            {% if providers.local is defined %}
                {{ _self.password_login(password_form) }}
            {% endif %}

            {{ _self.oauth_login(oauth_form, providers) }}
        </div>
    </div>
{% endblock login %}

{% macro password_login(password_form) %}
    <div class="small-6 columns members-login-password">
        {{ form_start(password_form) }}

        {{ form_row(password_form.email) }}
        {{ form_row(password_form.password) }}
        <br>
        {{ form_row(password_form.submit) }}

        {{ form_end(password_form) }}
    </div>
{% endmacro %}


{% macro oauth_login(oauth_form, providers) %}
    <div class="small-6 columns members-login-password">
        {{ form_start(oauth_form) }}

        {% for provider in providers|keys %}
            {% if provider != 'local' %}
                {{ form_row(oauth_form[provider]) }}
            {% endif %}
        {% endfor %}

        {{ form_end(oauth_form) }}
    </div>
{% endmacro %}
