{#
 # Passed in variables:
 #
 #   * twigparent           — string    Template name to inherit from
 #   * form_login_oauth     — FormView  OAuth login form (Symfony\Component\Form\FormView)
 #   * form_login_password  — FormView  Password login form (Symfony\Component\Form\FormView)
 #   * feedback             — Feedback  Informational, error, and debug feedback messages. @see feedback/feedback.twig
 #   * templates            — array
 #     * feedback           — string    Feedback messages template name
 #   * providers            — array     Authentication providers enabled in Auth configuration
 #}
{% extends twigparent %}

{% block login %}
    {{ include(templates.feedback) }}

    <div class="login">

        {% if providers.local is defined %}
            {{ _self.password_login(form_login_password) }}
        {% endif %}

        {{ _self.oauth_login(form_login_oauth, providers) }}

        <a class="button" href="{{ auth_link_auth_reset() }}">Reset password</a>
    </div>
{% endblock login %}

{% macro password_login(form_login_password) %}
    <div class="login-password">
        {{ form_start(form_login_password) }}

        {{ form_row(form_login_password.email) }}
        {{ form_row(form_login_password.password) }}
        <br>
        {{ form_row(form_login_password.submit, {'attr': {'class': 'button btn btn-default'}}) }}

        {{ form_end(form_login_password) }}
    </div>
{% endmacro %}


{% macro oauth_login(form_login_oauth, providers) %}
    <div class="login-oauth">
        {{ form_start(form_login_oauth) }}

        {% for provider in providers|keys %}
            {% if provider != 'local' %}
                {{ form_row(form_login_oauth[provider]) }}
            {% endif %}
        {% endfor %}

        {{ form_end(form_login_oauth) }}
    </div>
{% endmacro %}
