{#
 # Passed in variables:
 #
 #   * stage                    — string    The stage of the workflow, either:
 #                                              email     — Form to enter the account email address
 #                                              submitted — After the email address has been submitted
 #                                              password  — Form to enter *new* password
 #                                              reset     — After the new password has been saved to the database
 #   * link                     — string    Relative URL to the login page
 #   * twigparent               — string    Template name to inherit from
 #   * form_profile_recovery    — FormView  Profile recovery form (Symfony\Component\Form\FormView)
 #   * feedback                 — Feedback  Informational, error, and debug feedback messages. @see feedback/feedback.twig
 #   * templates                — array
 #     * feedback               — string    Feedback messages template name
 #   * providers                — array     Authentication providers enabled in Members configuration
 #}
{% extends twigparent %}

{% block recovery %}
    {{ include(templates.feedback) }}

    <div class="logout">
        <div class="row member-recovery">

            {%  if stage == 'email' %}
                {{ _self.recovery_start(form_profile_recovery) }}
            {% elseif stage == 'password' %}
                {{ _self.recovery_finish(form_profile_recovery) }}
            {% elseif stage == 'submitted' %}
                <p>An email has been sent to {{ email }}. Please follow the instructions to complete the process.</p>
            {% elseif stage == 'reset' %}
                <p>Password reset was successful!</p>
                <p><a href="{{ link }}">Click here to go to the login page…</a></p>
            {% else %}
                <p>Invalid request!</p>
            {% endif %}

        </div>
    </div>

{% endblock recovery %}

{% macro recovery_start(form_profile_recovery) %}
    <p>Enter the email address associated with your account:</p>

    {{ form_start(form_profile_recovery) }}

    {{ form_row(form_profile_recovery.email) }}
    {% do form_profile_recovery.password.setRendered %}

    {{ form_row(form_profile_recovery.submit, { 'label': 'Submit »', 'attr': { 'class': 'button btn btn-default' }}) }}

    {{ form_end(form_profile_recovery) }}
{% endmacro %}

{% macro recovery_finish(form_profile_recovery) %}
    <p>Enter a new password for your account</p>

    {{ form_start(form_profile_recovery) }}

    {% do form_profile_recovery.email.setRendered %}
    {{ form_row(form_profile_recovery.password) }}

    {{ form_row(form_profile_recovery.submit, { 'label': 'Continue »', 'attr': { 'class': 'button btn btn-default' }}) }}

    {{ form_end(form_profile_recovery) }}
{% endmacro %}
