{#
 # Passed in variables:
 #
 #}
{% extends twigparent %}

{% block members %}
    <div class="row">
        <h4>Edit Profile</h4>
    </div>

    <div class="row profile">

        <div class="small-12 columns">

            {{ form_start(form) }}
                {{ form_row(form.displayname) }}
                {{ form_row(form.email) }}
            {{ form_row(form.plainPassword.first) }}
            {{ form_row(form.plainPassword.second) }}
                <br>
                {{ form_row(form.submit) }}
            {{ form_end(form) }}

        </div>

        <div class="small-12 columns">
            <h5>Add Social Media Account</h5>

            {{ members_auth_login() }}
        </div>

    </div>
{% endblock %}
