{#
 # Passed in variables:
 #
 #}
{% extends twigparent %}

{% block members %}
    <div class="row">
        <h4>New Member</h4>
    </div>

    <div class="row register">

        <div class="small-12 columns">

            {{ form_start(form) }}
                {{ form_row(form.username) }}
                {{ form_row(form.displayname) }}
                {{ form_row(form.email) }}
                <br>
                {{ form_row(form.submit) }}
            {{ form_end(form) }}
        </div>

    </div>
{% endblock %}